.container {
	width: 340px;
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	height: 550px;
	border: 2px solid #F18F48;
    background-color: #f7eba8;

}
#picGallery {
	width:300px;
	height:450px;
	position:relative;

    z-index: 900;

}
a {
    font-family: Arial,Helvetica,sans-serif;
    color: #F18F48;
    text-decoration: none;
    padding-right: 10px;
    font-size: 1.2em;
    font-weight: 400;

}
a:hover {
    color: #d15614;
    text-decoration: underline;
}
#displayBox {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:998; /* apear under the lightbox */

    
}
